.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

img.fallback {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

img {
  border-radius: 8px 8px 0 0;
}

.main-table-div {
  overflow: auto;
}

#share-msg {
  margin-top: 40px;
}

.back-to-top-button {
  position: fixed;
  z-index: 998;
  border-radius: 50%;
  background-color: #a01b1f;
  bottom: 3vh;
  right: 5vw;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.back-to-top-button button {
  color: white;
}

.back-to-top-button:hover {
  opacity: 0.85;
}

.filter-select-options,
.checkbox-options {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  margin: 12px 0;
}

.show-cost-checkbox {
  display: none;
}

.loading-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loading-share-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background: rgba(255, 255, 255, 0.7);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item-shown-message {
  margin: 0 4px;
}

.item-selected-message {
  margin: 6px 4px;
}

mat-expansion-panel {
  margin-top: 10px;
}

.placeholder-check {
  position: absolute;
  scale: 0.8;
}

.search-form-field,
.filter-select-options mat-form-field,
.checkbox-options mat-checkbox {
  width: 100%;
}

.qty-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

mat-card {
  border: 2px solid #797979;
  border-radius: 10px !important;
  height: 100%;

  img {
    width: 100%;
  }
}

.card-header-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  border-bottom: 2px solid #797979;
  border-radius: 6px 6px 0 0;
}

.eof {
  font-size: 12px;
  color: #797979;
  margin-top: 8px;
}

.code-name {
  font-size: 12px;
  color: #797979;
  margin: 0;
}

.price-section {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.set-div {
  font-size: 10px;
  color: #797979;
}

.type-info,
.size-info,
.pcd-info,
.weight-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 4px;
}

.more-option-button {
  margin: auto;
}

.selected-card {
  border: 2px solid #a01b1f;
  background-color: rgba(176, 176, 176, 0.2);
  box-shadow: 0 0 8px rgba(181, 63, 63, 0.4);
  transition: border 0.2s, box-shadow 0.2s;
}

.highlight-header {
  background-color: #a01b1f;
  transition: all 0.2s;
  border-color: #a01b1f;
}

.item-card-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wheel-image {
  object-fit: contain;
}

.toggle-card-checkbox {
  cursor: default;
}

.desktop-card-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.msg-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.opaque-msg {
  opacity: 0.5;
}

.filter-select-form {
  display: flex;
  gap: 10px;
}

.add-to-cart-btn {
  height: 100%;
  letter-spacing: normal;
}

/* mobile css */
@media only screen and (max-width: 600px) {
  .body {
    padding: 4px;
    height: calc(100vh - 8px)
  }

  .mobile-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
  }

  mat-card {
    width: 48vw;
    margin: 4px 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    mat-card-content {
      margin-top: 0 !important;
      padding-bottom: 0;
    }
  }

  .item-description {
    margin: 0;
    font-size: 12px;
    padding: 8px 12px 0 12px;
    line-height: 1.4;
  }

  .info-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 0;
    align-items: start;
    gap: 4px;

    .mat-icon {
      height: 16px !important;
      width: 16px !important;
      font-size: 16px !important;
    }

    img {
      width: 16px !important;
      height: 16px !important;
    }
  }

  .wheel-image-loading {
    width: 100%;
    height: 250px;
  }

  .filter-select-options,
  .checkbox-options {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .no-entries-message {
    height: calc(100vh - 338px);
  }

  .filter-select-form {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .add-to-cart-btn {
    width: 80%;
    font-size: 1rem;
    border-radius: 12px;
    padding: 8px 0;
  }

  .current-qty {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 4px 0;
  }

  .quantity-options button {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .quantity-options mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  .stock-status-msg {
    font-size: 0.6rem;
    padding: 4px 8px;
  }

  .stock-status-div {
    bottom: 7%;
    width: 100%;
  }
}

/* tablet css */
@media only screen and (min-width: 601px) and (max-width: 1025px) {
  .tablet-card-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 4px;
  }

  .add-to-cart-btn {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 12px;
  }

  .wheel-image-loading {
    width: 100%;
    height: 260px;
  }

  .info-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
  }

  .filter-select-options {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .checkbox-options {
    flex-direction: row;
    align-items: stretch;
    width: 100%;
  }

  mat-card {
    margin: 0;
  }

  .no-entries-message {
    height: calc(100vh - 250px);
  }

  .filter-select-form {
    justify-content: center;
    align-items: center;
  }

  .current-qty,
  .current-price {
    width: 100%;
    height: 60px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #171c22;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 4px 0;
  }

  .stock-status-div {
    bottom: 5%;
    width: 100%;
  }

  .stock-status-msg {
    font-size: 1rem;
    padding: 4px 8px;
  }
}

/* desktop css */
@media only screen and (min-width: 1024.1px) {
  .body {
    padding: 10px;
    height: calc(100vh - 20px);
  }

  .item-description {
    margin: 0;
    font-size: 14px;
    padding: 8px 20px 0 20px;
  }

  .info-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
  }

  .wheel-image-loading {
    width: 100%;
    height: 280px;
  }

  .filter-select-options {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  .checkbox-options {
    flex-direction: row;
    align-items: stretch;
    width: 50%;
  }

  mat-card {
    margin: 0;
  }

  .no-entries-message {
    height: calc(100vh - 250px);
  }

  .filter-select-form {
    justify-content: center;
    align-items: center;
  }

  .add-to-cart-btn {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 12px;
  }

  .current-qty,
  .current-price {
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #171c22;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 4px 0;
  }

  .stock-status-div {
    bottom: 4%;
    width: 16%;
  }

  .stock-status-msg {
    font-size: 0.8rem;
    padding: 1px 8px;
  }
}

mat-card-content {
  margin-top: auto;
}

.image-container {
  position: relative;
}

.stock-status-div {
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: end;
  align-items: center;

  .stock-out {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .stock-limited {
    background-color: rgba(255, 166, 0, 0.5);
  }

  .stock-available {
    background-color: rgba(0, 128, 0, 0.5);
  }
}

.stock-status-msg {
  font-weight: bold;
  color: white;
  border-radius: 4px;
}

.quantity-options {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-weight: bold;
  width: fit-content;
  border: 2px solid gray;
  padding: 4px;
  border-radius: 50px;
  height: 40px;
}

.upper-divider {
  padding-bottom: 8px;
}